extends layouts/base
block header
	header.site-header
		include components/nav.jade
block page
	.content.content--fill
		.wrapper
			.grid(data-grid='')
				.grid__item(data-grid='8/12')
					.arcticle
						:markdown
							# Контакты
							ООО «Квайт»  
							Телефон для справок: +7 914 327-80-87  
							
							Юридический / Фактический адрес:   
							690035, г. Владивосток, ул. Калинина, дом № 21, кв. 48  
							
							### Реквизиты 
							ИНН/КПП: 2537114574/253701007  
							ОГРН: 1152537002430  
							р/с: 40702810820090000292  
							в Филиал «Хабаровский» АО «АЛЬФА-БАНК»  
							БИК: 040813770
				
				.grid__item(data-grid='4/12')
					+vkwidget('Присоединяйся')
