extends layouts/base
block header
	header.site-header
		include components/nav.jade
block page
	div.content
		.wrapper
			.grid(data-grid='')
				.grid__item(data-grid='7/12')
					.scheme
						.map.hidden(style='background-image: url(assets/images/fetisov-map.png)')
							button.button.map__button.map__button--df(data-price='2000 ₽') Танцпол
						.scheme__data.scheme__data--top-left
							div.js-scheme-name Фетисов Арена
							div.js-scheme-view Секции
						.scheme__data.scheme__data--top-right
							div *Доступно секций: 1
						
						.section(style='background-image: url(assets/images/fetisov-map-section-df.png)')
							.df-form
								table.table
									tdbody
										tr.df-form__price
											td Стоимость билета
											td.right 2000 ₽
										tr.df-form__ticket-numbers
											td Количество билетов
											td.right
												span.number-ins
													span.dec -
													input.ins-input(type='text' value='1')
													span.inc +
				
						.footnote.center * &mdash; Кликбилет.рф продает выделенные организатором места.<br>Укажите желаемую секцию, затем выберите место или количество билетов
				.grid__item(data-grid='4/12 push--1/12')
					.event
						span.label Концерт
						h2.h2 Shakira
						.description Можно добавить краткое описание мероприяния. Можно и не добавлять. Это не сломает подачу
						table.table.event__table
							tdbody
								tr
									td.table__label Дата
									td.table__item 28 Декабря, 2015
								tr
									td.table__label Время
									td.table__item 18:00
								tr
									td.table__label Место
									td.table__item Фетисов Арена, ул.&nbsp;Маковского, 284
								tr
									td.table__label Аудитория
									td.table__item 12+
								tr.event__sum
									td.table__label Cумма
									td.table__sum 0 руб.
						.checkout
							button.button__success.button__big(disabled) Оплатить
							
