extends layouts/base
block header
	header.site-header
		include components/nav.jade
block page
	.content
		.wrapper
			.grid(data-grid='')
				.grid__item(data-grid='7/12')
					.scheme
						.map(style='background-image: url(assets/images/fetisov-map.png)')
							span.button.map__button.map__button--df.js-section-select(data-tooltip-price='2000 ₽' rel='123') Танцпол
						.scheme__data.scheme__data--top-left
							div.js-scheme-name Фетисов Арена
							div.js-scheme-view Секции
						.scheme__data.scheme__data--top-right
							div *Доступно секций:
								span.js-scheme-free 1	
						.section.hidden(data-section-id='123' data-section-price='2000' style='background-image: url(assets/images/fetisov-map-section-df.png)')
							.df-form
								table.table
									tdbody
										tr.df-form__price
											td Стоимость билета
											td.right 2000 ₽
										tr.df-form__ticket-numbers
											td Количество билетов
											td.right
												// control elem		
												span.number-ins.js-num-ins
													span.dec.js-ins-control(data-control='dec') -
													input.ins-input.js-ins-input(type='text' value='1')
													span.inc.js-ins-control(data-control='inc') +								
					.footnote.center * &mdash; Кликбилет.рф продает выделенные организатором места.<br>Укажите желаемую секцию, затем выберите место или количество билетов
				.grid__item(data-grid='4/12 push--1/12')
					.event
						span.label Концерт
						h1.h1 Shakira
						.description Можно добавить краткое описание мероприяния. Можно и не добавлять. Это не сломает подачу
						table.table.event__table
							tdbody
								tr
									td.table__label Дата
									td.table__item 28 Декабря, 2015
								tr
									td.table__label Время
									td.table__item 18:00
								tr
									td.table__label Место
									td.table__item Фетисов Арена, ул.&nbsp;Маковского, 284
								tr
									td.table__label Аудитория
									td.table__item 12+
								tr.event__sum
									td.table__label Cумма
									td.table__sum 
										span.js-sum-output 0
										|  руб.
						form.checkout.js-checkout-form(action='')
							button.button__success.button__big.js-form-submit(type='button' role='button' disabled) Оплатить
							.hidden
								input(type="hidden" name="Merchant_ID" value="853229")
								input.js-order-number(type="hidden" name="OrderNumber" value="")
								input.js-order-amount(type="hidden" name="OrderAmount" value="")
								input.js-res-ok(type="hidden" name="url_return_OK" value="")
								input.js-res-no(type="hidden" name="url_return_NO" value="")
						.paysevice
							.footnote Оплатить электронные билеты можно картами, через телефон и платежные системы
							.payservice__logo
								span
									small Провайдер электронных платежей:
								a(href='http://www.assist.ru')
									img(src="assets/svg/assist_logo.svg", alt="Система электронных платежей")
