extends layouts/base
block header
	header.site-header
		include components/nav.jade
		include components/banner.jade
block page
	div.content.content--fill
		.wrapper
			.grid(data-grid='')
				.grid__item(data-grid='8/12')
					.content__box
						+ticket('Shakira','Можно добавить краткое описание мероприяния. Можно и не добавлять. Это не сломает подачу')(style="background-image: url(assets/images/ticket_image_shakira.png)")
						+ticket('Eminem','У этого блока фиксированная высота, все что не войдет будет скрыто')(class="ticket--white", style="background-image: url(assets/images/ticket_image_eminem.png)")
						+ticket('Пустышка с заглушкой','Тестовый билет. Дефолтный фон билета когда нет картинки.')(style="background-image: url(assets/images/ticket_image_blank.png)")
				.grid__item(data-grid='4/12')
					+vkwidget('Присоединяйся')
