extends layouts/base
block header
	header.site-header
		include components/nav.jade
block page
	.content.content--fill
		.wrapper
			.article
				:markdown
					# Оферта
					### Определения
					
					- 1 В настоящем документе нижеприведенные термины используются равно в единственном и во множественном числе (если иное не вытекает из смысла термина и (или) определения) в следующих значениях:
					- 1.1 **«Оферта»** — настоящий договор продажи Билетов на культурно-зрелищные Мероприятия (Публичная оферта ООО «КВАЙТ») опубликованный по электронному адресу http://кликбилет.рф и доступный по требованию Покупателя на Интернет-сайте Агента.
					- 1.2. **«Принципал»** — юридическое лицо или индивидуальный предприниматель, которые поручают Агенту взять на себя обязательства по продаже Билетов Покупателям.
					- 1.3. **«Агент»** — ООО «КВАЙТ», уполномоченное действовать на основании заключенных договоров с Принципалами по оформлению и продаже билетов на культурно-зрелищные Мероприятия.
					- 1.4. **«Покупатель»** — физическое или юридическое лицо, использующее услуги Агента по бронированию и покупке Билетов на условиях соблюдения настоящей Оферты.
					- 1.5. **«Мероприятие»** – культурно-зрелищное Мероприятие, в том числе театральный спектакль, цирковое представление, концерт, выставка, кинопоказ, фестиваль, шоу, показ мод, спортивное соревнование, экскурсия, а также любое иное событие, посещение которого возможно только по предъявлению специального документа — Билета.
					- 1.6. **«Билет»** — документ, формируемый с использованием автоматизированной системы Агента на бланке строгой отчетности в соответствии с действующим законодательством РФ, удостоверяющий право Покупателя на посещение (проход, просмотр, прослушивание) Мероприятия, содержащий информацию о наименовании, дате, времени, месте проведения мероприятия, выделенном покупателю месте на Мероприятие (секторе, ряде и прочее), стоимости услуги посещения Мероприятия, а также дополнительную информацию правового или технического характера.
					- 1.7. **«Номинальная стоимость билета»** — цена посещения мероприятия, установленная Принципалом.
					- 1.8. **«Сервисный сбор»** — денежные средства, дополнительно взимаемые с покупателя при реализации Билетов за оказываемые Агентом услуги бронирования и оформления Билетов, неразрывно связанные с процедурой продажи Билетов. Величина Сервисного сбора для каждого Билета составляет определенный процент от стоимости услуги, указанной на Билете.
					- 1.9. **«Заказ»** — один или несколько Билетов на одно Мероприятие, объединенных единым идентификационным номером.
					- 1.10. **«Интернет-сайт Агента»** — сайт в сети Интернет, расположенный по адресу http://кликбилет.рф
					- 1.11. **«Система»** — комплексная автоматизированная информационная система - программный комплекс, предназначенный для продажи Билетов и состоящий из web-портала http://кликбилет.рф и внутриофисной системы автоматизации бизнес-процессов.
					
					### Общие положения
					
					- 2.1. Настоящая Оферта регламентирует условия и порядок продажи Билетов, а также права и обязанности, возникающие в связи с этим у Агента и Покупателя.
					- 2.2. Продажа билетов Покупателю производится исключительно на условиях настоящей Оферты и лишь в случае полного и безоговорочного принятия условий настоящей Оферты Покупателем (акцепта Оферты). Частичный акцепт, а равно акцепт на иных условиях не допускается.
					- 2.3. Если Покупатель не принимает в полном объеме условия настоящей Оферты, продажа Билетов не производится. Приобретенные Покупателем билеты не могут быть возвращены, в том числе в случае отказа Покупателя по основанию не согласия Покупателя с условиями настоящей Оферты после акцепта ее условий и оплаты Билета. Возврат денежных средств за приобретенные Покупателем Билеты возможен лишь в порядке и на условиях, установленных настоящей Офертой.
					- 2.4. При приобретении Билетов у Агента юридическим лицом оплата Билетов производится юридическим лицом посредством перечисления денежных средств на расчетный счет Агента на основании счета, выставляемого Агентом.
					- 2.5. Агент имеет право вносить изменения в настоящую Оферту, но в любом случае такие изменения публикуются своевременно и находятся в общем доступе в сети Интернет и в Точках продаж. Использование покупателем услуг Агента после внесения изменений в текст Оферты означает акцепт Оферты с учетом внесенных изменений.
					- 2.6. Условия настоящей Оферты действительны для Покупателей, осуществляющих оплату через Интернет-сайт Агента, и не зависят от формы оплаты.
					- 2.7. Агент вправе расторгнуть Оферту в любое время без предварительного уведомления Покупателя в случае нарушения последним условий настоящей Оферты и иных правил, опубликованных на Интернет-сайте Агента.
					- 2.8. Настоящая Оферта вступает в силу с даты ее размещения Интернет-сайте Агента и действует бессрочно.
					
					### Предмет оферты
					
					- 3.1. Предметом настоящей Оферты является предоставление Покупателю услуг по продаже Билетов на Мероприятия в порядке и на условиях, предусмотренных настоящей Офертой.
					- 3.2. Агент не несет ответственности за действия Принципала и/или третьих лиц по продаже Билетов, действующих от своего имени и/или от имени Принципала, равно как и за организацию и факт проведения Мероприятия.
					- 3.3. В соответствии с требованиями Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных» Покупатель признает, что соглашается с использованием Агентом персональных данных Покупателя, полученных Агентом в процессе оформления Заказа. Срок использования предоставленных персональных данных — бессрочно. Покупатель гарантирует и несет ответственность за то, что данные, указанные в Заказе, являются добровольно предоставленными им и третьими лицами при оформлении Билета, и все эти лица ознакомлены и согласны с Офертой.
					
					### Правила акцепта
					
					- 4.1 Настоящая Оферта считается основным документом в официальных взаимоотношениях между Покупателем и Агентом по покупке-продаже Билетов. Принятие Покупателем настоящей Оферты осуществляется путем последовательного совершения Покупателем действий, указанных в п.4.3 настоящей Оферты (акцепт Оферты). Совершение акцепта Покупателем настоящей Оферты производится добровольно и равносильно заключению письменного договора (п.3 ст.434 Гражданского Кодекса РФ).
					- 4.2. До совершения акцепта Оферты Покупатель должен быть уверен, что все условия настоящей Оферты ему понятны, и он принимает их безусловно и в полном объеме.
					- 4.3. Акцепт настоящей Оферты Покупателем осуществляется путем последовательного совершения следующих действий:
						- a) обращение к Интернет-сайту Агента (и последующая регистрация на Интернет-сайте Агента);
						- b) выбор конкретного Мероприятия и категории Билета(-ов) из имеющихся на момент обращения Покупателя;
						- c) ознакомление с условиями настоящей Оферты;
						- d) ознакомление с возрастными ограничениями конкретных Мероприятий
					- 4.4. После совершения всех действий, указанных в пункте 4.3 настоящей Оферты, Покупатель, в зависимости от выбранного способа приобретения Билета производит оплату Заказа в соответствии с выбранным Покупателем способом приобретения и соответствующему такому способу приобретения способу оплаты в сроки, предусмотренные правилами оплаты для конкретного Мероприятия.
					- 4.5. После совершения оплаты Заказа Покупатель получает Билет самостоятельно на сайте.
					
					### Порядок совершения платежей
					
					- 5.1. Покупатель имеет право совершить оплату Билетов любым из способов, предложенных на Интернет-сайте Агента.
					- 5.2. Платеж признается совершенным Покупателем в момент подтверждения успешной транзакции со стороны банка или платежной системы.
					- 5.3. Электронный билет может быть получен Покупателем только при условии формирования Заказа самостоятельно Покупателем непосредственно на Интернет-сайте Агента и оплате Заказа с помощью банковской карты.
					- 5.4. После оплаты Заказа согласно п.5.2 настоящей Оферты Заказ считается проданным и у Покупателя возникает право посетить Мероприятие.
					- 5.5. При неоплате или частичной оплате Заказа, Заказ считается непроданным и аннулируется.

					### Возврат денежных средств
					
					- 6.1. Денежные средства, поступившие Агенту в качестве оплаты Билета, подлежат возврату Покупателю только в случае отмены/замены/переноса Мероприятия и при получении Агентом соответствующего официального письма Принципала, в котором указываются условия (срок, время, место) и порядок возврата билетов. С информацией о порядке, сроках, времени и месте возврата билетов можно ознакомиться на Интернет-сайте Агента. В случае, если возврат денежных средств Покупателям по отмененному, замененному или перенесенному Мероприятию за Билеты, приобретенные у Агента, осуществляется в кассах Принципала, согласно официальному письму Принципала, Покупатель не вправе предъявлять претензии к Агенту. По замененным или перенесенным Мероприятиям, если Покупатель не согласен на замену/перенос, ему возвращаются денежные средства на условиях настоящей Оферты. Обмен возвращаемых Билетов на Билеты на другие Мероприятия не осуществляется.
					- 6.2. Возврат денежных средств в соответствии с условиями настоящей Оферты за приобретенные Покупателем Билеты осуществляется только за Билеты, приобретенные на Интернет-сайте Агента, если данное место возврата указано в официальном письме Принципала.
					- 6.3. Денежные средства возвращаются Покупателю только при обязательном фактическом возврате Покупателем приобретенного Билета.
					- 6.4. Возврат денежных средств в соответствии с условиями настоящей Оферты за приобретенные Покупателем Билеты производится за вычетом Сервисного сбора Агента.
					- 6.5. Агент не производит возврат денежных средств за утерянные, поврежденные Билеты, а также Билеты с любыми исправлениями и скрытой любым искусственным способом информацией.
					- 6.6. Покупатель имеет право вернуть приобретенный Билет Агенту по собственной инициативе в течение 7 (семи) календарных дней с даты его приобретения, но не позднее 1 (одного) дня до даты проведения Мероприятия, на которое Покупателем был приобретен Билет. В случае соблюдения обоих условий Покупателю возвращаются денежные средства согласно п.6.4 настоящей Оферты.
					- Возврат производится после обращения по телефонному номеру Агента +7(914)327-80-87.
					
					### Права и обязанности сторон
					
					- 7.1. Покупатель имеет право:
					- 7.1.1. Самостоятельно из открытых источников наводить справки о цене Билетов на Мероприятия и сервисных услугах иных официальных билетных операторов при принятии решения о приобретении Билетов у Агента.
					- 7.1.2. Получать информацию о правилах продажи Билетов, имеющихся категориях Билетов и иной информации в отношении Мероприятий, которой владеет Агент в рамках своих полномочий, с использованием сети Интернет и прочими способами, указанными на Интернет-сайте Агента.
					- 7.1.3. Выбирать способ оплаты Билета из предложенных Агентом. При этом, Покупатель обязан самостоятельно ознакомиться с правилами пользования тем или иным способом платежа.
					- 7.1.4. Направлять отзывы о работе Агента по контактам, указанным на сайте.
					- 7.1.5. Покупатель имеет право отказаться от приобретения Билета у Агента до момента совершения оплаты Заказа в соответствии с условиями, предусмотренными настоящей Офертой. Такой отказ повлечет за собой прекращение перед Покупателем всех обязанностей Агента.
					- 7.2. Покупатель обязан:
					- 7.2.1. Подробно ознакомиться со всеми правилами покупки Билетов и условиями настоящей Оферты и при совершении покупки Билета принять их, а также все дополнительные правила, регулирующие отношения Сторон в соответствии с настоящей Офертой.
					- 7.2.2. Нести ответственность за несовершеннолетних детей, в интересах которых он приобретает Билеты. Покупатель признает и соглашается с тем, что в соответствии с Федеральным законом от 29.12.2010 г. №463-ФЗ «О защите детей от информации, причиняющей вред их здоровью и развитию» конкретное Мероприятие может быть отнесено к числу тех, продажа Билета на которое, а равно проход, присутствие, прослушивание или просмотр которого, могут быть запрещены для определенных категорий лиц. Исчерпывающая информация об ограничениях конкретного Мероприятия, размещается на Сайте Агента, в Точках продаж или сообщается в Колл-центре.
					- 7.2.3. При оформлении Заказа предоставить необходимую верную, точную и полную информацию о себе. Покупатель признает, что он несет полную ответственность за данные, сообщаемые Агенту. Покупатель признает, что не имеет никаких претензий к Агенту за некорректно-оформленный Покупателем с использованием Интернет-сайта Агента Заказ, так как сам не удостоверился в его корректности во время совершения оформления.
					- 7.2.4. Оплатить в полном объеме стоимость оформленного Заказа.
					- 7.3. Агент имеет право:
					- 7.3.1. Требовать от Покупателя соблюдения всей процедуры оформления и оплаты Заказа по правилам, изложенным в настоящей Оферте.
					- 7.3.2. При отказе Покупателя принять настоящую Оферту на изложенных в ней условиях отказать Покупателю в продаже ему Билета и оказании Услуг.
					- 7.3.3. В любое время производить модификацию любого программного обеспечения Системы Агента, в том числе Интернет-сайта, приостанавливать работу программных средств, обеспечивающих функционирование сайта, при обнаружении существенных неисправностей, ошибок и сбоев, а также в целях проведения профилактических работ и предотвращения случаев несанкционированного доступа к сайту.
					- 7.3.4. Включать в стоимость Заказа и взимать с Покупателя Сервисный сбор.
					- 7.3.5. Требовать от Покупателя полной оплаты Билета перед тем, как произвести продажу Билета.
					- 7.3.6. При несоблюдении Покупателем любого из пунктов Оферты отказать ему в дальнейшем в предоставлении услуг.
					- 7.4. Агент обязан:
					- 7.4.1. Предоставлять Покупателю:
						- — необходимую информацию о конкретном Мероприятии.
						- — необходимую информацию о датах, месте и времени возврата денежных средств за приобретенные Билеты в случае отмены/замены/переноса Мероприятия. Основанием для предоставления такой информации является официальное письмо Принципала.
						- — инструкции для оформления/оплаты/получения Билета. Исчерпывающей информацией считается та информация, которую Агент публикует на сайте и предоставляет в Точках продаж.
					- 7.4.2. Не использовать персональные данные Покупателя для несанкционированной рассылки материалов, не относящихся к оформленным Заказам.

					### Ответственность

					- 8.1. В случае неисполнения или ненадлежащего исполнения своих обязательств, предусмотренных настоящей Офертой, Стороны несут ответственность в соответствии с законодательством Российской Федерации и условиями настоящей Оферты.
					- 8.2. Ответственность Агента перед Покупателем ограничивается функцией организации и осуществления взаимодействия между Принципалом и Покупателем с целью продажи Билета.
					- 8.3. Агент не несет ответственности за несоответствие оказанных Принципалом услуг ожиданиям Покупателя и/или его субъективной оценке. Советы и рекомендации, предоставляемые Покупателю, не могут рассматриваться как гарантии.
					- 8.4. Покупатель принимает на себя все возможные коммерческие риски, связанные с его действиями по допущению ошибок и неточностей в предоставленных им своих личных данных.
					- 8.5. Агент не несет ответственности за любые убытки и моральный вред, понесенные Покупателем в результате ошибочного понимания или непонимания им информации о порядке оформления/оплаты Заказа, а также получения и использования Услуг.
					- 8.6. Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств по настоящей Оферте, если такое неисполнение явилось следствием обстоятельств непреодолимой силы, то есть чрезвычайных и непредотвратимых при данных условиях обстоятельств. К обстоятельствам непреодолимой силы, в частности, относятся: стихийные бедствия, военные действия, забастовки, действия и решения государственных органов власти, сбои, возникающие в телекоммуникационных и энергетических сетях.
					- 8.7. Агент не несет ответственность за работоспособность и (или) защищенность информационных каналов связи, используемых Покупателем для обращения к Интернет-сайту Агента.
					- 8.8. Все претензии или иски, связанные с настоящей Офертой, должны быть заявлены в письменном виде в течение 10 (Десяти) календарных дней с даты их возникновения. По истечении указанного срока претензии рассматриваться Агентом не будут.

					### Разрешение споров

					- 9.1. Споры, возникающие при исполнении договора на условиях настоящей Оферты, разрешаются с обязательным соблюдением претензионного порядка. Претензия подается Агенту в письменном виде с приложением документов, обосновывающих предъявляемые требования, в срок не более 10 (десяти) календарных дней с даты возникновения причины спора. Поступившая претензия рассматривается Агентом в срок не более 10 (десяти) календарных дней.
					- 9.2. При невозможности достижения согласия, возникшие споры подлежат рассмотрению в порядке, предусмотренном действующим законодательством Российской Федерации.
					- 9.3. По всем другим вопросам, не предусмотренным в Оферте, Стороны руководствуются действующим законодательством Российской Федерации.
