extends layouts/base
block header
	header.site-header
		include components/nav.jade
block page
	.content.content--fill
		.wrapper
			.article
				:markdown
					# Частые вопросы
					### Как купить билет
					
					Описание со скринами как купить билет, скоро будет.
					
					### Как вернуть деньги
					
					Описание процесса возврата денег.
