extends layouts/base
block header
	header.site-header
		include components/nav.jade
block page
	.content.content--fill
		.wrapper
			.grid(data-grid='')
				.grid__item(data-grid='8/12')
					.content__box
						h1.h1 Частые вопросы
						h2.h2 Как купить билет
						p С другой стороны дальнейшее развитие различных форм деятельности требуют от нас анализа существенных финансовых и административных условий. Идейные соображения высшего порядка, а также новая модель организационной деятельности в значительной степени обуславливает создание форм развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение новых предложений. Повседневная практика показывает, что укрепление и развитие структуры в значительной степени обуславливает создание модели развития.
						h2.h2 Как вернуть деньги
						p Повседневная практика показывает, что начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение направлений прогрессивного развития.
						
				.grid__item(data-grid='4/12')
					+vkwidget('Присоединяйся')
