extends layouts/base
block header
  header.site-header
    include components/nav.jade
block page
  .content.content--fill
    .wrapper
      .article
        h1 Как приобрести электронные билеты на мероприятие?
        p Электронные билеты приобретаются с сайта кликбилет.рф в режиме онлайн. После оплаты необходимо распечатать или сохранить билет.

        h3 1. Выберите мероприятие
        p Указана минимальная стоимость одного билета
        img(src='assets/images/how-to_tickets.png', alt="Кликбилет.рф. Билет на мероприятие.")
        h3 2. Укажите желаемые места
        p Для выбора мест укажите доступную секцию, выбрав ее на схеме-зала
        img(src='assets/images/how-to_section.png', alt="Кликбилет.рф. Схема зала.")
        p Далее выберите место в секции или количество билетов
        img(src='assets/images/how-to_place.png', alt="Кликбилет.рф. Выбор места.")
        p Нажмите кнопку «Оплатить». Нажимая на «Оплатить» вы подтверждаете согласие с условиями оферты.
        h3 3. Оплатите электронный билет удобным для вас способом и не забудьте правильно указать вашу электронную почту.
        p Оплата производится через платежный сервис
          a.link(href='http://assist.ru') «Ассист»
        p После успешной оплаты вы будете перенаправлены на страницу с приобретенными билетами.
        h3 4. Обязательно распечатайте или сохраните билеты на жесткий диск
        p Нажмите на кнопку «Распечатать» и начните печать.
        img(src='assets/images/how-to_print.png', alt="Кликбилет.рф. Печать билетов.")
        p Чтобы сохранить билет на жесткий диск, вместо печати сохраните билет как PDF.
        p
          small
            i Для примера указан браузер Chrome.
        img(src='assets/images/how-to_pdf.png', alt='Кликбилет.рф. Сохранить как PDF')
        p Электронный билет дает право посетить мероприятие

        h2 Внешний вид электронного билета
        img(src='assets/images/how-to_printed.png', alt='Кликбилет.рф. Внешний вид электронного билета')
        p Штрих код служит для сканирования билета на проходе. Информация о билете: название мероприятия, дата и место проведения, категония и места. Правила пользования электронным билетом. Реквизиты.
