section.banner(role='banner')
	a(href='event.html')
		.banner__image(style='background-image: url(assets/images/banner_image.png)')
	.banner__text
		.wrapper
			.grid(data-grid='none')
				.banner__headline
					h1.h1 Rihanna
				.banner__info
					span Концерт
					span 12 Декабря, 21:00
					span 4000 ₽
				.banner__share
					span.icon.icon--twitter
					span.icon.icon--vk
