nav.nav(role='navigation')
	.wrapper
		.grid(data-grid='none')
			.nav__logo
				a.logo(href='index.html')
					img(src='assets/svg/clickbilet_logo.svg' alt='КликБилет')
			.nav__items
				a.link.nav__link(href='1') Частые вопросы	
				a.link.nav__link(href='2') Оферта	
				a.link.nav__link(href='3') Контакты

		
