nav.nav(role='navigation')
	.wrapper
		.grid(data-grid='none')
			.nav__logo
				a.logo(href='index.html')
					img(src='assets/svg/clickbilet_logo.svg' alt='КликБилет')
			.nav__items
				a.nav__link(href='static.html') Как купить билеты
				a.nav__link(href='license.html') Оферта	
				a.nav__link(href='contacts.html') Контакты
